

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>delivery</title>
</head>
<body>
    <div style="color:white;align-items:center"> 
    <h2 >غذا تو راهه</h2>
     <img src="~/picture/delivery truck.gif" width="70%" height="auto" style="align-self:center"/>
    </div>
</body>
</html>
