<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/slideshow.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/slideshow.css" rel="stylesheet" />
</head>
<body onload="ll()">

    <div class="slideshow-container">
         
        <div class="mySlides ">
           
            <img src="~/picture/slide/1.png" style="width:100%">
            <div class="text" style="color:#450c0c; left:15%">GOSHNAMEH</div>
        </div>
        <div class="mySlides ">
           
            <img src="~/picture/slide/2.png" style="width:100%">
            <div class="text" style="font-size:60px;left:20%">گشنمه</div>
        </div>

        <div class="mySlides ">
            <img src="~/picture/slide/8.png" style="width:100%">
            <div class="text" style="right:30%;bottom:70%">کیفیت</div>
            <div class="text" style="right:30%; bottom:50%">تنوع</div>
            <div class="text" style="right:30%;bottom:30%">سرعت</div>
        </div>

        <div class="mySlides ">
            <img src="~/picture/slide/4.png" style="width:100%">
            <div class="text" >با ما سریع از گشنگی دربیاید</div>
        </div>
        <div class="mySlides ">
           
            <img src="~/picture/slide/3.png" style="width:100%">
            <div class="text" style="right:20%">بهترین رستوران ها</div>
        </div>

        
        <div class="mySlides ">
            <img src="~/picture/slide/6.png" style="width:100%">
            <div class="text" style="color:#050505">غذا دم دره</div>
        </div>
        <div class="mySlides ">
            <img src="~/picture/slide/7.png" style="width:100%">
            <div class="text" style="font-size:60px; right:30%;color:#450c0c">به ما بپیوندید</div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

    </div>
    <br>

    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
        <span class="dot" onclick="currentSlide(6)"></span>
        <span class="dot" onclick="currentSlide(7)"></span>
    </div>

    

</body>
</html>
